.two-columns__brief {
  width: 175px;
  margin-top: 0;
  margin-left: 0;
  /* убрала дефолтный нижний отступ */
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
