.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    border: 1px solid red;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    /* выше установили ограничения для секции */
}

.logo_place_header {
    /* ??? */
    border: 1px solid red;
    position: absolute;
    z-index: 1;
    width: 183px;
    height: 35px;
    margin: 30px 0 0 64px;
}


/* Научиться учиться */

.header__title {
    border: 1px solid red;
    width: 730px;
    margin-left: 64px;
    margin: auto;
    z-index: 1;
}


/* Какие современные и эффективные подходы к обучению
вы можете использовать в своей жизни?*/

.header__subtitle {
    position: absolute;
    z-index: 1;
    width: 388px;
    margin: auto auto 30px 64px;
}


/* Картина мальчик */

.header__main-illustration {
    width: 388px;
    position: absolute;
    margin-right: 0;
    margin-bottom: 0;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
    border-color: red;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
}


/* и элемента с модификатором вида ключ-значение */

.table__cell_theme_dark {
    border: 1px solid red;
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.feynman {
    border: 1px solid red;
    background-color: #f2f2f2;
}

.kaufman {
    border: 1px solid red;
    background-color: #1f1f1f;
}
