.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;
    /* выше установили ограничения для секции */
}

.logo_place_header {
    /* ??? */
    border: 1px solid red;
    position: absolute;
    z-index: 1;
    width: 183px;
    height: 35px;
    left: 64px;
    top: 30px;
}


/* Научиться учиться */

.header__title {
    border: 1px solid red;
    width: 730px;
    margin: auto;
    margin-left: 64px;
    z-index: 1;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}


/* Какие современные и эффективные подходы к обучению
вы можете использовать в своей жизни?*/

.header__subtitle {
    border: 2px solid red;
    position: absolute;
    z-index: 1;
    width: 388px;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__link {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}


/* Картина мальчик */

.header__main-illustration {
    border: 1px solid red;
    width: 765px;
    height: 608px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}


/* Картина квадрат */

.header__square-pic {
    border: 1px solid red;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
}

.description {
    border: 1px solid red;
    width: 80%;
    margin: 100px auto;
    padding: 0;
}

.two-columns {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Главные проблемы в обучении */

.two-columns__brief {
    border: 1px solid red;
    width: 175px;
    margin-top: 0;
    margin-left: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}


/* Контейнер для параграфов */

.two-columns__main-text {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 784px;
}


/* Три параграфа в колонку */

.two-columns__paragraph {
    border: 1px solid red;
    margin: 0 0 30px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.two-columns__paragraph:last-of-type {
    margin: 0;
}


/* и элемента с модификатором вида ключ-значение */

.table__cell_theme_dark {
    border: 1px solid red;
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.feynman {
    border: 1px solid red;
    background-color: #f2f2f2;
}

.kaufman {
    border: 1px solid red;
    background-color: #1f1f1f;
}
